@model EmailViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<table class="blueTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Sender</th>
            <th>ReceiveDate</th>
            <th>Subject</th>
            <th>Body</th>
            <th>EnumStatus</th>
            <th>Attachments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Sender</td>
            <td>@Model.ReceiveDate</td>
            <td>@Model.Subject</td>
            <td>@Model.Body</td>
            <td>@Model.EnumStatus</td>
            <td>@Model.AttachmentsCount</td>
        </tr>
    </tbody>
</table>

<p></p>
<form method="post">
    <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkInvalid" type="submit" class="btn btn-lg btn-danger">Mark as Invalid</button>
    <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" type="submit" class="btn btn-lg btn-info">Mark as New</button>
    <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkOpen" type="submit" class="btn btn-lg btn-success">Mark as Open</button>
    <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosed" type="submit" class="btn btn-lg btn-danger">Mark as Closed</button>
    <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNotReviewed" type="submit" class="btn btn-lg btn-info">Mark as Not Reviewed</button>
</form>