@model EmailViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<table class="blueTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Sender</th>
            <th>Receive Date</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Status</th>
            <th>Attachment Name</th>
            <th>Attachment Size Kb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Sender</td>
            <td>@Model.ReceiveDate</td>
            <td>@Model.Subject</td>
            <td>@Model.Body</td>
            <td>@Model.EnumStatus</td>
            <td>@Model.AttachmentName</td>
            <td>@Model.AttachmentSize</td>
        </tr>
    </tbody>
</table>

<p></p>
<!-- User buttons -->
<form method="post">
    @if (User.IsInRole("Operator"))
    {
        @if (Model.EnumStatus.ToString() == "NotReviewed")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkInvalid" name="NotValid" type="submit" class="btn btn-lg btn-outline-danger">Mark as Invalid</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
        }
        else if (Model.EnumStatus.ToString() == "New")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkOpen" name="Open" type="submit" class="btn btn-lg btn-outline-success">Mark as Open</button>
        }
        else if (Model.EnumStatus.ToString() == "Open" && Model.StatusChangedBy == Model.CurrentUser)
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedApproved" name="ClosedApproved" type="submit" class="btn btn-lg btn-outline-success">Mark as Approved</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedRejected" name="ClosedRejected" type="submit" class="btn btn-lg btn-outline-danger">Mark as Rejected</button>
        }
    }
</form>

<!-- Manager buttons -->
<form method="post">
    @if (User.IsInRole("Manager"))
    {

        @if (Model.EnumStatus.ToString() == "NotReviewed")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkInvalid" name="NotValid" type="submit" class="btn btn-lg btn-outline-danger">Mark as Invalid</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
        }
        else if (Model.EnumStatus.ToString() == "New" || Model.EnumStatus.ToString() == "NotValid")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNotReviewed" name="NotReviewed" type="submit" class="btn btn-lg btn-outline-info">Mark as Not Reviewed</button>

        }
        else if (Model.EnumStatus.ToString() == "New")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkOpen" name="Open" type="submit" class="btn btn-lg btn-outline-success">Mark as Open</button>
        }
        else if (Model.EnumStatus.ToString() == "Open")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedApproved" name="ClosedApproved" type="submit" class="btn btn-lg btn-outline-success">Mark as Approved</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedRejected" name="ClosedRejected" type="submit" class="btn btn-lg btn-outline-danger">Mark as Rejected</button>
        }
        else if (Model.EnumStatus.ToString() == "MarkClosedApproved" || Model.EnumStatus.ToString() == "MarkClosedRejected")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
        }
    }
</form>
<div>
    <a asp-action="Index" asp-controller="Home">< Back to home ></a>
</div>