@model EmailViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<table class="table table-striped text-center" style="border-color: #808080">
    <thead style="color: #2f2c2c">
        <tr style="text-align: center">
            <th>№</th>
            <th>Sender</th>
            <th>Receive Date</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Attachment Name</th>
            <th>Attachment Size Kb</th>
        </tr>
    </thead>
    <tbody style="color: #4a3e3e">
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Sender</td>
            <td>@Model.ReceiveDate</td>
            <td>@Model.Subject</td>
            <td>@Model.EnumStatus</td>
            <td>@Model.AttachmentName</td>
            <td>@Model.AttachmentSize</td>
        </tr>
    </tbody>
</table>

<p></p>

<table class="table table-striped" style="border-color: #808080">
    <tbody style="color: #4a3e3e">
        <tr>
            <td><strong>Email content:</strong> @Model.Body</td>
        </tr>
</table>

<p></p>
<!-- User buttons -->
<form method="post">
    @if (!User.IsInRole("Manager"))
    {
        @if (Model.EnumStatus.ToString() == "NotReviewed")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkInvalid" name="NotValid" type="submit" class="btn btn-lg btn-outline-danger">Mark as Invalid</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
        }
        else if (Model.EnumStatus.ToString() == "New")
        {
            <button asp-route-Id="@Model.Id" asp-controller="ClientLoan" asp-action="GetEmailDetails" name="GetEmailDetails" type="submit" class="btn btn-lg btn-outline-success">Create loan</button>
        }
        else if (Model.EnumStatus.ToString() == "Open" && Model.StatusChangedBy == Model.CurrentUser)
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedApproved" name="ClosedApproved" type="submit" class="btn btn-lg btn-outline-success">Mark as Approved</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedRejected" name="ClosedRejected" type="submit" class="btn btn-lg btn-outline-danger">Mark as Rejected</button>
        }
    }
</form>

<!-- Manager buttons -->
<form method="post">
    @if (User.IsInRole("Manager"))
    {

        @if (Model.EnumStatus.ToString() == "NotReviewed")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkInvalid" name="NotValid" type="submit" class="btn btn-lg btn-outline-danger">Mark as Invalid</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
        }
        else if (Model.EnumStatus.ToString() == "New" || Model.EnumStatus.ToString() == "NotValid")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNotReviewed" name="NotReviewed" type="submit" class="btn btn-lg btn-outline-info">Mark as Not Reviewed</button>
            <button asp-route-Id="@Model.Id" asp-controller="ClientLoan" asp-action="GetEmailDetails" name="GetEmailDetails" type="submit" class="btn btn-lg btn-outline-success">Create loan</button>
        }
        else if (Model.EnumStatus.ToString() == "Open")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedApproved" name="ClosedApproved" type="submit" class="btn btn-lg btn-outline-success">Mark as Approved</button>
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkClosedRejected" name="ClosedRejected" type="submit" class="btn btn-lg btn-outline-danger">Mark as Rejected</button>
        }
        else if (Model.EnumStatus.ToString() == "Approved" || Model.EnumStatus.ToString() == "Rejected")
        {
            <button asp-route-Id="@Model.Id" asp-controller="Email" asp-action="MarkNew" name="New" type="submit" class="btn btn-lg btn-outline-info">Mark as New</button>
        }
    }
</form>
<p></p>
<div>
    <a asp-action="Index" asp-controller="Home"><< Back to home page >></a>
</div>