@model EmailViewModel

@{
    ViewData["Title"] = "EmailLoanFill";
}

<h1>EmailLoanFill</h1>


<head>
    <link rel="stylesheet" href="~/constants/FillFormStyle.css" />
</head>

<form class="form-style-4" method="post" style="float:right">
    <p>Loan form</p>
    <label for="field1"><span>First Name</span><input type="text" name="field1" required /></label>
    <label for="field1"><span>Last Name</span><input type="text" name="field1" required /></label>
    <label for="field2"><span>Email Address</span><input type="email" name="field2" required /></label>
    <label for="field2"><span>Phone</span><input type="tel" name="field2" required /></label>
    <label for="field2"><span>EGN</span><input type="number" pattern="[0-9]{10,10}" name="field2" required /></label>
    <label for="field2"><span>Loan in BGN</span><input type="number" pattern="[0-9]{10,10}" name="field2" required /></label>
    <label for="field4"><span>Note</span><textarea name="field4" onkeyup="adjust_textarea(this)" required></textarea></label>
    <label>
        <span> </span><input type="submit" value="Submit" />
        <span> </span><input type="reset" value="Reset" />
    </label>
</form>

<div>
    <form class="form-style-4" method="post" style="float:left">
        <div class="form-group">
            <div class="col">
                <div class="row">№</div>
                <div class="row">Sender</div>
                <div class="row">Receive Date</div>
                <tdiv class="row" h>Subject</tdiv>
                <div class="row">Body</div>
                <div class="row">Status</div>
                <div class="row">Attachment Name</div>
                <div class="row">Attachment Size Kb</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <div class="row">@Model.Id</div>
                <div class="row">@Model.Sender</div>
                <div class="row">@Model.ReceiveDate</div>
                <div class="row">@Model.Subject</div>
                <div class="row">@Model.Body</div>
                <div class="row">@Model.EnumStatus</div>
                <div class="row">@Model.AttachmentName</div>
                <div class="row">@Model.AttachmentSize</div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Home"><< Back to home page >></a>
</div>