@model EmailIndexViewModel

@{
    ViewData["Title"] = "ListAllStatusEmails";
}

<table class="blueTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Receive Date</th>
            <th>Status</th>
            <th>In current status since</th>
            <th>Attachments</th>
            @if (User.IsInRole("Manager"))
            {
                <th>Changed by</th>
            }
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="11">
                <div class="links">
                    <a href="#">&laquo;</a>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">&raquo;</a>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var email in Model.Emails)
        {
            <tr>
                <td>@email.Id</td>
                <td class="nav-link">
                    <a asp-route-id="@email.Id" asp-action="Detail" asp-controller="Email">
                        @email.Sender
                    </a>
                </td>
                <td>@email.Subject</td>
                <td>@email.Body</td>
                <td>@email.ReceiveDate</td>
                <td>@email.EnumStatus</td>
                <td>@email.InCurrentStatusSince</td>
                <td>@email.HasAttachments</td>
                @if (User.IsInRole("Manager"))
                {
                    <th>@email.StatusChangedBy</th>
                }
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>