@model EmailIndexViewModel

@{
    ViewData["Title"] = "ListAllStatusEmails";
}


    <form asp-action="ListAllStatusEmails" asp-controller="Email" method="post">
        <div class="input-group mb-1">
            <input type="text" name="search" id="search" class="btn btn-light btn-outline-secondary" />
            <div class="input-group-append btn">
                <input type="submit" value="Search" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>

<table class="blueTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Receive Date</th>
            <th>Status</th>
            <th>In current status since</th>
            <th>Attachments</th>
            @if (User.IsInRole("Manager"))
            {
                <th>Changed by</th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in @Model.Emails)
        {
            <tr>
                <td>@email.Id</td>
                <td>@email.Sender</td>
                <td>@email.Subject</td>
                <td>@email.Body</td>
                <td>@email.ReceiveDate</td>
                <td>@email.EnumStatus</td>
                <td>@email.InCurrentStatusSince</td>
                <td>@email.HasAttachments</td>
                @if (User.IsInRole("Manager"))
                {
                    <td>@email.StatusChangedBy</td>
                }
                <td>
                    <form asp-route-id="@email.Id" asp-action="Detail" asp-controller="Email" method="post">
                        <button type="submit" class="btn btn-lg btn-info">Details</button>
                    </form>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div class="align-content-center">
    @if (Model.PreviewPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
    }
    else
    {
        <a asp-action="ListAllStatusEmails" asp-route-currentPage="@Model.PreviewPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PreviewPage">Prev</a>
    }

    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrentPage</button>

    @if (Model.NextPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
    }
    else
    {
        <a asp-action="ListAllStatusEmails" asp-route-currentPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="Next">Next</a>
    }
</div>

<div>
    <a asp-action="Index" asp-controller="Home"><< Back to home page >></a>
</div>